#title {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

#description {
  text-align: center;
  font-size: 1.5em;
  padding: 20px 0 0 0;
}

#source {
text-align: right;
}

.color-01 {
fill: #e5f5e0;
}

.color-02 {
fill: #c7e9c0;
}

.color-03 {
fill: #a1d99b;
}

.color-04 {
fill: #74c476;
}

.color-05 {
fill: #41ab5d;
}

.color-06 {
fill: #238b45;
}

.color-07 {
fill: #006d2c;
}

.color-error {
fill: #000000;
}





